@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<ShopGiay.Models.Customer>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khách hàng - Trang: " + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
   
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a> 
            <span class="breadcrumb-item active">Danh sách khách hàng : Trang @CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Thông tin cá nhân</th>
                        <th>Địa chỉ</th>
                        
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null)
                    {
                        foreach( var item in Model)
                        {
                            <tr>
                                
                                <td>@item.CustomerId</td>

                                <td>
                                    <p>Họ và tên: @item.FullName</p>
                                    <p>Sđt: @item.Phone</p>
                                    <p>Email: @item.Email</p>
                                </td>
                                <td>@item.Address</td>
                                
                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Details" asp-route-id="@item.CustomerId">Chi tiết</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@item.CustomerId">Sửa</a>
                                    <a class="btn btn-danger btn-tone m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Delete" asp-route-id="@item.CustomerId">Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class ="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index"></pager>
                </ul>
            </div>
        </div>
    </div>
</div>